body {
  background-color: lightgray;
}

.container_form {
  background-color: white;
  width: 450px;
  height: 40px;
  padding: 25px 25px 25px 25px;
  border: solid thin lightgray;
  border-radius: 16px 10px;
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
  
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

.container_data {
  overflow: scroll;
  background-color: white;
  width: 490px;
  max-height: 768px;
  padding: 25px 25px 25px 25px;
  border: solid thin lightgray;
  border-radius: 16px 10px;
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
  
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

.repos_list {
  position: relative;
  top: -110px;
  font-weight: bold;
  font-family: "Times New Roman", Times, Serif;
}

.hr_div {
  position: relative;
  top: -110px;
}

.glyphicons_star {
  position: relative;
  width: 5px;
  top: -145px;
  left: 408px;
}

.glyphicons_star_img {
  width: 15px;
  height: 15px;
  position: relative;
  top: -143px;
  left: 360px;
}

.glyphicons_fork {
  position: relative;
  top: -145px;
  left: 430px;
}

.glyphicons_fork_img {
  width: 15px;
  height: 15px;
  position: relative;
  top: -143px;
  left: 390px;
}

#input_text {
  width: 300px;
  height: 28px;
}

#input_button {
  border: solid thin lightgray;
  border-radius: 5px;
  width: 80px;
  height: 36px;
}

#input_button:hover {
  opacity: 0.8;
  border: solid thin lightgray;
  border-radius: 5px;
  width: 80px;
  height: 36px;
}

#user_img {
  position: relative;
  padding: 10px 5px 5px 0px;
  width: 75px;
  height: 75px;
}

#user_uname {
  position: relative;
  top: -100px;
  left: 85px;
}

#user_fullname {
  position: relative;
  top: -120px;
  left: 85px;
}

#user_bio {
  position: relative;
  top: -142px;
  left: 85px;
}

#list_title {
  position: relative;
  top: -130px;
}

#title_hr {
  position: relative;
  top: -135px;
  height: 3px;
}